*{
  box-sizing: border-box;
}

body{
  background-color: hsl(212, 45%, 89%);
  font-family: 'Outfit', sans-serif;
  font-size: 15px;
  margin: 0;
  overflow: hidden;
}

.card{
  background-color: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 21rem;
  margin: 3rem auto;
  max-width: 88%;
}

img{
  margin: 1rem auto;
  width: 90%;
}

img, .card{
  border-radius: 1rem;
}

.card-body{
  margin: -.5rem 2rem 1rem 2rem;
  text-align: center;
}

h1{
  color: hsl(218, 44%, 22%);
  font-size: 24px;
  font-weight: 700;
}

p{
  color: hsl(220, 15%, 55%);
  padding-inline: .7rem;
}

.attribution{
  font-size: 11px;
  margin-top: 7rem;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
